*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Bree Serif', serif; */
/* Section top */
.top-baner{
    height: 500px;
}
.top-baner::before{
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(18 19 22 / 52%), rgb(12 11 12 / 90%)), url(header.jpg);
    position:fixed;
    z-index: -1;
    opacity: 1.5;
}
nav{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    height: 50px;
    position: relative;
    right: 350%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav ul li{
    list-style:  none;
    display: block;
    margin: 4px 30px;
}
nav ul li::after{
    content: "";
    width:0;
    height:2px;
    background-color: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
} 
nav ul li a{
    text-decoration: none;
    color: white;
}
.com{
    background-color: rgb(196, 196, 31);
    padding: 5px;
}
.main-img img{
    height: 160px;
}
.top-title{
   text-align: center;
}
.main-title{
    height: 100%;
}
.main-title h1{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    margin: 5px 0 45px 0;
    color: white;
}
.main-title h4{
    font-family: 'Baloo Bhai 2', cursive;
    padding: 5px;
    color: white;
}
.main-btn{
    color: whitesmoke;
    background-color: rgba(191, 146, 31, 0.736);
    padding: 8px 12px;
    border-radius: 5px;
    margin: 20px;
    text-decoration: none;
    transition: .6s;
}
.main-btn:hover{
    background-color: white;
    color: black;
}
/* Section working */
.working{
    background-color: whitesmoke;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 135px;
}
.working-img{
    width: 180px;;
    height: 300px;
    margin: 10px;
}
.half{
    width: 50%;
}
/* Utility class */
.h-primary{
    color: black;
    font-family: 'Bree Serif', serif;
    margin: 10px 0;
    font-size: 25px;
}
.h-secendery{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 16px;
}
.utility-gray{
    font-family: 'Baloo Bhai 2', cursive;
    color:gray;
    font-size: 16px;
}
.shift{
    margin: 20px 0;
}
.center{
    color: white;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    text-decoration: none;
    padding: 4px 12px;
    color: white;
    background-color: rgb(200, 155, 40);
}
/* Section food item */
.food-item{
    padding: 20px;
    background-color: white;
    background-image: url("style-4.png");

}
.food-title{
    text-align: center;
    padding: 25px 0 0 0;
}
.right{
    margin: 0 10px;
}
.del{
    text-align: right;
    padding: 0 150px;
}
.item-name{
   margin: 5px 0;

   border-bottom: 1px dotted grey;
}
.name{
    margin: 10px 0;
}
.description{
    font-size: 12px;
}
span{
    padding-left: 140px;
}
.img-size{
    width: 60px;
}
.item-container{
    display: flex;
    width: 100%;
}
.six-item{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    margin: 50px 5px 50px 90px;
}
/* Section manu */
.menu{
  padding: 80px;
}
.menu-title{
    text-align: center;
    margin: 20px;
    color: white;
}
.manu-card{
    width: 30%;
    padding: 10px;
}
.menu-details{
    font-size: 15px;
    margin-bottom: 4px;
}
.menu-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    row-gap: 27px;
    padding: 84px;
    background-image: url(style-3.png);
    background-color: white;
}
.menu-button{
    text-align: center;
    margin: 35px;
}

/* Section shef */
.chef{
   padding:60px 100px;
    background-color: white;
    background-image: url("style-1.png");
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chef-card{
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.chef-img{
    clip-path: circle(50% at 50% 50%);
    width: 150px;
}
.card-link{
    margin: 10px;
    color: goldenrod;
}
.fa-brands{
    padding: 0 4px;
    cursor: pointer;
}
.chef-title{
    text-align: center;
    margin: 5px;
}
/* Section testimonial */
.testimonial{
    padding: 60px 100px;
    background-color: white;
    background-image: url("style-3.png");
}
.test-title{
    text-align: center;
}
.clint-size{
    clip-path: circle(33.7% at 50% 50%);
    width: 60px;
}
.clint-title{
    display: flex;
}
.clint-card{
    width: 30%;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 12px rgb(148, 128, 128);
}
.name{
    font-size: 18px;
    padding: 2px;
}
.mini{
font-size: 12px;
}
.clint-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Section contract */
.width-helf{
    width: 50%;
    padding: 10px;
}
.contract-img{
    width: 100%;
}
/* section contact */
.contact{
    background-color: white;
    padding: 50px 100px;
}
.contact-container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.contact-description input{
    width: 100%;
    padding: 5px;
    height: 30px;
    margin: 10px 3px;
    outline: none;
}
.submit-btn{
    background-color: goldenrod;
    width: 100%;
}
/* Footer */
footer{
    padding: 20px;
    height: 100px;
    background-color: black;
}
.footer-img{
    width: 80px;
    margin: 5px;
}
.footer-link{
    color: white;
}
.footer-container{
    display: flex;
    color: whitesmoke;
    justify-content:space-around;
    align-items: center;
}